<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
  This application was built to help business owners manage their business. Keep track of your contacts, set goals, and watch your business grow.
</p>
<p>
  Created by <%= link_to "Saugat Ghimire", 'http://www.saugatghimire.com/', :target => "_blank" %>
</p>